* {
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: yellow;
}

p {
    line-height: 1.6;
}

h1, h2 {
    line-height: .8;
    text-transform: uppercase;
    text-align: center;
}

.wrapper{
    margin: auto;
}

header {
    background: white;
}

.header-container {
    max-width: 1800px;
    margin: auto;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    width: 40px;
    height: 40;
    float: left;
    padding: 10px 0px;
}

.title-logo {
    float: left;
    margin: 0;
    padding: 10px;
    font-size: 2em;
    font-weight: 900;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 25px;
    padding-top: 18px;
}

nav a {
    color: hsl(0, 0%, 27%);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 700;
}

nav a:hover {
    color: black;
}

main {
    background-color: yellow;
}

.hero-section {
    background-color: hsl(0, 0%, 27%);
}

h1 {
    font-size: 2.2em;
}

.hero-section-content {
    max-width: 1600px;
    min-height: 700px;
    background-color: white;
    margin: auto;
}

.introduction-content {
    color: black;
    font-size: 1.5em;
    margin: auto;
    padding: 50px 0px 10px 20px;
    float: left;
    max-width: 1080px;
}

.introduction-image {
    width: 400px;
    margin: 20px;
    border-radius: 30px;
}

.services-section {
    background-color: blue;
}

.services-section-content {
    max-width: 1600px;
    background-color: white;
    margin: auto;
    padding-top: 1px;
    padding-bottom: 1px;
}

.contact-section {
    background-color: red;
}

.contact-section-content {
    max-width: 1600px;
    background-color: white;
    margin: auto;
    padding-top: 1px;
    padding-bottom: 1px;
}

footer {
    background-color: blue;
    height: 40px;
}

.footer-content {
    max-width: 1600px;
    background-color: white;
    margin: auto;
    padding-top: 1px;
    text-align: center;
}
