* {
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 95vw;
    max-width: 1600px;
    margin: auto;
    box-shadow: 10px 2px 50px grey;
}

h1, h2 {
    line-height: .8;
    text-transform: uppercase;
    text-align: center;
}

.wrapper{
    margin: auto;
}

header {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo-content {
    min-width: 400px; 
    display: flex;

}

.logo {
    width: 40px;
    height: 40px;
}

.title-logo {
    font-size: 2em;
    font-weight: 900;
    margin: 0;
    padding: 5px;
}

.logo-link {
    text-decoration: none;
    color: black;
}

.navigation {
    min-width: 400px;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.navigation a {
    color: hsl(0, 0%, 27%);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 700;
}

.navigation a:hover {
    color: black;
}

main {
    line-height: 1.6;

}

.hero-section {
    margin: 0;
}

h1 {
    font-size: 2.2em;
}

.hero-section-content {
    min-height: 700px;
    background-image: linear-gradient(to right, #001b2e, #294c60);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.introduction-content {
    color: white;
    font-size: 1.5em;
    margin: auto;
    padding: 50px 0px 10px 20px;
    max-width: 1080px;
}

button {
    background-color: #ffa500;
    border: none;
    color: black;
    font-size: 1em;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

.introduction-image-container {
    width: 500px;
    margin: 50px;
}

.introduction-image {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 5px solid black;
}

.vision-mission {
    margin: 0;
}

.vision-mission-content {
    margin: 10px;
}


.services-section {
    margin: 0;
}

.services-section-content {
    margin: 10px;
}

.services-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
}

.card {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 0;
    padding: 10px;
}

.card h3, .card p {
    text-align: center;
}

.contact-section {
    margin: 0;
}

.contact-section-content {
    margin: 10px;
}

footer {
    margin: 0;
}

.footer-content {
    text-align: center;
}
