/* Toggle light and dark mode
:root[data-theme="light"] {
    --text: #000000;
    --background: #f2f0ee;
    --primary: #a5b1bb;
    --secondary: #d3d3de;
    --accent: #638382;
  }
:root[data-theme="dark"] {
    --text: #ffffff;
    --background: #110f0d;
    --primary: #44505a;
    --secondary: #21212c;
    --accent: #7c9c9b;
  }
*/

:root {
    --text: hsl(0, 0%, 0%);
    --background: hsl(30, 13%, 94%);

    --bg-primary: hsl(207, 28%, 70%);
    --bg-secondary: hsl(240, 14%, 85%);
    --bg-accent: hsl(178, 14%, 45%);
    --bg-cta: hsl(39, 100%, 50%);
    --bg-cta-200: hsl(39, 100%, 55%);


    --font-family-heading: 'Playfair Display', serif;
    --font-fmaily-body: 'Poppins', sans-serif;

    --font-weight-thin: 200;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    --font-size-300: 0.750rem; /* 12px */
    --font-size-400: 1rem;  /* 16px */
    --font-size-500: 1.333rem; /* 21.28px */
    --font-size-600: 1.777rem; /* 28.48px */
    --font-size-700: 2.369rem; /* 37.92px */
    --font-size-800: 3.158rem; /* 50.56px */
    --font-size-900: 4.210rem; /* 67.36px */


}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

html {
    font-size: 100%;  /* 16px */
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--font-fmaily-body);
    font-weight: var(--font-weight-regular);
    background-color: var(--background);
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-bold);
  }

h1, h2 {
    line-height: 1.2;
    text-transform: uppercase;
}

h1 {
    font-size: var(--font-size-900);
}

h2 {
    font-size: var(--font-size-800); 
    text-align: center;
    text-decoration: underline;
}

h3 {
    font-size: var(--font-size-700);
}

h4 {
    font-size: var(--font-size-600); 
    text-align: center;
}

h5 {
    font-size: var(--font-size-500); 
}

small {
    font-size: var(--font-size-300); 
}

p {
    line-height: 1.6;
}

label {
    font-size: var(--font-size-500);
}

.button {
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: var(--font-size-400);
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100vmax;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
  
.button1 {background-color: var(--bg-cta);} 
.button2 {background-color: #008CBA;} 

.button:hover, .button:focus-visible {
    background-color: var(--bg-cta-200);
}


.wrapper{
    width: 95vw;
    max-width: 1600px;
    margin: 0 auto;
    /* box-shadow: 10px 2px 50px grey;*/
    position: relative;
    min-height: 100vh;
}

main {
    padding-bottom: 5rem;    /* Footer height */
}


/* START HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo-content {
    display: flex;
}

.logo {
    width: 40px;
    height: 40px;
}

.title-logo {
    margin: 0;
    padding: 5px;
}

.logo-link {
    text-decoration: none;
    color: var(--text);
}

/* NAVIGATION */
.navigation-list {
    list-style-type: none;
    display: flex;
    gap: 4em;
}

.navigation-list li a {
    color: hsl(0, 0%, 27%);
    text-decoration: none;
    text-transform: uppercase;
}

.navigation-list li a:hover {
    color: black;
    border-bottom: 1px solid black;
}

.mobile-nav-toggle {
    display: none;
}
/* END NAVIGATION & HEADER*/

/* START HERO SECTION */
.hero-section-content {
    min-height: 700px;
    margin: 1em;
    /*background-color: var(--secondary);*/
    /*background-image: linear-gradient(to right, #001b2e, #294c60);*/
    background-image: linear-gradient(-20deg,hsla(0, 0%, 100%, 0.851),#9DB5C8),linear-gradient(45deg,#7c9c9b,#44505a 90%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row-reverse;
    border-radius: .8em;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.introduction-content {
    color: var(--text);
    margin: auto;
    max-width: 1000px;
    padding: 2em;
}

.text-decoration {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #1f0249, rgb(134, 61, 2));
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.introduction-image-container {
    width: 500px;
    overflow: hidden;
    margin: auto;
    padding: .5em;
}

.introduction-image {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: .5em;
}
/* END HERO SECTION */

/* VISION AND MISSION STATEMENT */
.vision-mission {
    margin: 0;
}

.vision-mission-content {
    margin: 10px;
}


.services-section {
    margin: 0;
}

.services-section-content {
    margin: 10px;
}


.services-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: .5em;
    margin: 0;
    padding: 0;
}

.card {
    width: 370px;
    height: auto;
    background-color: hsl(0, 10%, 90%);
    border-radius: .8em;
    margin: 0;
    padding: 0;
    padding: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.card h4 {
    text-align: center;
    margin: .4em;
    text-decoration: underline;
}

.card p {
    margin: 0 .5em;
}

.card h5 {
    margin: 0 1em;
}


.contact-section {
    margin: 0;
    background-color: var(--bg-secondary);
    border-radius: .8em;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.contact-section-content {
    margin: 10px;
}

.contact-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


/* START FOOTER */
footer {
    position: absolute;
    margin: 0;
    bottom: 0;
    height: 5rem; 
    width: 100%;
}

.footer-content {
    text-align: center;
}
/* END FOOTER */




/* START CONTACT FORM */
.contact-form {
    width: 80%;
    max-width: 800px;
    padding: 10px 15px 100px 15px;
    background-color: hsl(0, 10%, 90%);
    border-radius: 8px;
    margin: auto;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    position: relative;
}

.contact-form input, .contact-form textarea {
    display: block;
    width: 100%;
    border: none;
    padding: 10px 0 10px 0;
    border-radius: 5px;
    background-color: #f7f7f7;
    color: #333;
    font-size: var(--font-size-400);
}

.contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #333;
}

.contact-form button {
    float: right;
}

.contact-form button:hover {
    text-decoration: underline;
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}
/* END CONTACT FORM */

/* START THANK YOU PAGE */
.thank-you-content {
    max-width: 600px;
    margin: auto;
}
.mail-sent-image {
    width: 200px;
}
/* END THANK YOU PAGE */

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}



/* MOBILE MEDIA QUERY */
@media (max-width:50em) {
    :root {
        --font-size-300: 0.8rem; /* 12.80px */
        --font-size-400: 1rem;  /* 16px */
        --font-size-500: 1.25rem; /* 20.00px */
        --font-size-600: 1.563rem; /* 25.00px */
        --font-size-700: 1.953rem; /* 31.25px */
        --font-size-800: 2.441rem; /* 39.06px */
        --font-size-900: 3.052rem; /* 48.83px */
    }
    
    .primary-navigation {
        display: none;

        position: fixed;
        padding: 1rem;
        inset: 4rem 1rem auto;
        max-width: 25rem;
        margin-left: auto;
        background-color: var(--background);
        border-radius: 10px;
        box-shadow: 0 0 0.75em rgb(0,0,0,0.05);
        z-index: 999;
    }

    /* .primary-navigation::before {
        content: "";
        position: fixed;
        inset: 0;
        background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
    } */

    .primary-navigation[data-visible] {
        display: block;
    }

    .navigation-list {
        display: grid;
        gap: 1rem;
        text-align: center;
    }
    
    .mobile-nav-toggle {
        display: block;
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: 0.5em;
    }

    .mobile-nav-toggle .icon-close {
        display: none;
    }
} 
